body {
    background: white;
  }

.main-container{
     border: 2px solid black;
     margin: 0 auto;
     width: 500px;
     margin-top: 100px;
     border-radius: 12px;
     box-shadow: 0 0 6px black;
}

header{
    text-align: center;
    text-decoration: underline;
    padding: 12px 10px;
    font-size: large;
    font-weight: bold;
}

.input-container{
    text-align: center;
}

#user-text{
    margin-left: 10px;
    border-radius: 4px;
    padding: 4px 6px
}

#user-text:focus{
    box-shadow: 0 0 8px black;
}

#send-response{
    margin-top: 10px;
    padding: 6px 8px;
    border-radius: 6px;
    transition: transform 0.6s ease-out 
                background-color 0.5s
                bold 0.5s;
}

#send-response:hover{  
    transform: scale(1.115);
    cursor: pointer;
    background-color: white;
    font-weight: bold;
}