<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css"> 
    <title>Sentiment Analyzer</title>
</head>
<body>
    <div class="main-container">
        <div class="container-body">

            <header> NLP - Emotion Detector </header>

            <div class="input-container">
                <label for="user-text"> Please Enter Text To Be Analyzed:</label>
                <input type="text" id="user-text" placeholder="Enter here">
                <button id="send-response"> Run Sentiment Analysis </button>
            </div>

            <div class="results-container">
                <header> Results of Sentiment Analysis </header>
                <p id="results"></p>
            </div>
            
        </div>
    </div>
    <script src="/static/webscript.js"></script>
</body>
</html>
