<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analyzer</title>
</head>
<body>
    <div class="main-container">
        <div class="container-body"></div>
            <header> NLP - Sentiment Analysis using BERT </header>
            <div class="input-container">
                <label for="user-text"> Please Enter Text To Be Analyzed:</label>
                <input type="text" id="user-text" placeholder="Enter here">
                <button> Run Sentiment Analysis </button>
            </div>
            <div class="results-container">
                <header> Results of Sentiment Analysis </header>
                <p class="results"></p>
            </div>
            </div>
        </div>
    </div>
</body>
</html>